<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>TwitterClone</title>
</head>
<body>
{% block dev_user_auth %}
<hr>
<p>---------------開発用-------------------</p>
<p>ログインユーザー名【{{user}}】※未ログイン時はAnonymousUserと表示される</p>

<ul>
<li><a href="{% url 'twitter:home' %}">ホーム画面はこちら</a></li>
<li><a href="{% url 'user:signup' %}">新規作成はこちら</a></li>
<li><a href="{% url 'user:login' %}">ログインはこちら</a></li>
<li><a href="{% url 'user:logout' %}">ログアウトはこちら</a></li>
<li><a href="{% url 'tweet:tweet' %}">ツイート一覧はこちら</a></li>
<li><a href="{% url 'tweet:tweet-create' %}">ツイート作成はこちら</a></li>
</ul>
{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
{% endif %}
<p>---------------開発用-------------------</p>
<hr>
{% endblock dev_user_auth %}
{% block content %}
{% endblock content %}  
</body>
</html>