{% extends 'twitter/base.html' %}

{% block content %}
    <h1>tweet一覧画面です</h1>
    
    {% for TC_tweet in tweets %}
    <hr>
    <a href="{% url 'user:profile' TC_tweet.author.tc_profile.pk %}" class="btn btn-primary">【投稿者】{{TC_tweet.author}}</a>
    
    【ツイート日時】{{TC_tweet.date_posted}}
    <br>
    【ツイート内容】{{TC_tweet.content}}
    <br>
    <a href="{% url 'tweet:detail' TC_tweet.pk %}" class="btn btn-primary">詳細</a>
    <a href="{% url 'tweet:good' TC_tweet.pk %}" class="btn btn-primary">【いいね】</a>{{TC_tweet.likes}}
    {% endfor %}
        
    
{% endblock content %}